#title {
	border-bottom-style: solid;
	border-width: 2px;
	border-color: black;
	text-align: center;
	font-family: "Courier New";
	font-size: 400%;
	margin-top: 5px;
	position: sticky;
	color: #B0D264;
	-webkit-text-stroke: 3px black;
	margin-top: 0;
}

.game-board {
	left: 25%;
	width: 50%;
	min-width: 50%;
	margin-bottom: 1%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

#button-board button {
	border-style: solid;
	border-radius: 10%;
	background-color: #4c8955;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 10%;
	height: 100%;
	font-size: 2vw;
	margin: 0 auto;
	font-weight: bold;
	color: #B0D264;
	-webkit-text-stroke: .1vw black;
}

#button-board button:hover {
	background-color: #3E5D43;
}

#button-board2 button {
	border-style: solid;
	border-radius: 7.5%;
	background-color: #4c8955;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 30%;
	height: 100%;
	font-size: 2vw;
	margin: 0 auto;
	font-weight: bold;
	color: #B0D264;
	-webkit-text-stroke: .1vw black;
}

#button-board2 button:hover {
	background-color: #3E5D43;
}


#button-board {
	width: 50%;
	left: 25%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

#button-board2 {
	width: 50%;
	left: 25%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

div.game-board div{
	display: inline-block;
	text-align: center;
	line-height: 250%;
	font-family: "Courier New";
	font-size: 2.2vw;
	height: 100%;
	width: 8%;
	margin: 0 auto;
	border-style: solid;
	position: relative;
	background-color: #4C8955;
	font-weight: bold;
	color: #B0D264;
	-webkit-text-stroke: .1vw black;
	border-color: black;
}

.wrong {
	background-color: #3E3E3E!important;
}

.right {
	background-color: #2DEB14!important;
}

.exists {
	background-color: #E7EB14!important;
}

html, body{
    height: 100%;
    margin: 0 0;
}

body {
	background-color: #6BB071;
}

/*
Light: #E8F9DF
Medium-Light: #B2DDA5
Medium: #6BB071
Dark: #4C8955
Very Dark: #3E5D43
Yellowish: #B0D264
White: #FFFAED
*/
