#title {
	border-style: solid;
	text-align: center;
	font-family: "Courier New";
	font-size: 400%;
	margin-top: 5px;
	position: sticky;
	background-color: #9EC3A0;
}

.game-board {
	left: 25%;
	width: 50%;
	min-width: 50%;
	margin-bottom: 1%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

#button-board button {
	border-style: solid;
	border-radius: 10%;
	background-color: #9EC3A0;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 10%;
	height: 100%;
	font-size: 1.25vw;
	margin: 0 auto;
	font-weight: bold;
}

#button-board button:hover {
	border-style: solid;
	border-radius: 10%;
	background-color: #73a075;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 10%;
	height: 100%;
	font-size: 1.25vw;
	margin: 0 auto;
	font-weight: bold;
}

#button-board2 button {
	border-style: solid;
	border-radius: 7.5%;
	background-color: #9EC3A0;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 30%;
	height: 100%;
	font-size: 1.25vw;
	margin: 0 auto;
	font-weight: bold;
}

#button-board2 button:hover {
	border-style: solid;
	border-radius: 7.5%;
	background-color: #73a075;
	border-color: black;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Courier New";
	width: 30%;
	height: 100%;
	font-size: 1.25vw;
	margin: 0 auto;
	font-weight: bold;
}

#button-board {
	width: 50%;
	left: 25%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

#button-board2 {
	width: 50%;
	left: 25%;
	height: 10%;
	position: relative;
	display: flex;
	justify-content: center;
}

div.game-board div{
	display: inline-block;
	text-align: center;
	line-height: 250%;
	font-family: "Courier New";
	font-size: 2vw;
	height: 100%;
	width: 8%;
	margin: 0 auto;
	border-style: solid;
	position: relative;
	background-color: #9EC3A0;
	font-weight: bold;
}

html, body{
    height: 100%;
}

body {
	background-color: #B9DABA;
}
